@font-face {
    font-family: 'Figtree';
    src: url(./Figtree-Regular.woff2) format(woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url(./Figtree-Bold.woff2) format(woff2);
    font-style: normal;
    font-weight: bold;
}

* {
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

:root {
    --birdie-blue: rgb(0, 154, 243);
    --birdie-dark: rgb(0, 129, 204);
    --gray-light: rgb(240, 240, 240);
    --gray-dark: rgb(120, 120, 120);
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    background: rgb(230, 230, 230);
}

h1, h2, h3 {
    margin-top: 0;
}

h2 {
    margin-bottom: 2rem;
}

h4 {
    margin-bottom: 0;
}

#navbar, button {
    background: dodgerblue;
    color: white;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
}

#main p {
    color: rgb(110, 110, 110);
}

#navbar {
    height: 80px;
    width: calc(100% - 40px);
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    order: 1;
}

#burger {
    order: 0;
}

#avatar {
    order: 2;
}

#container {
    margin-top: 80px;
}

#profile {
    display: grid;
}

input {
    border: none;
    border-radius: 32px;
    background: rgb(230, 230, 230);
    color: black;
    padding: 10px 20px;
}

#buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    gap: 20px;
}

#buttons button {
    width: 100%;
}

#content {
    display: grid;
    background: rgb(230, 230, 230);
    margin: 20px;
}

#profile, #posts > div, #announcements, #trending {
    background: white;
    padding: 20px;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.1));
}

#posts > div, #announcements, #trending {
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
    #content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: unset;
    }

    #posts > div, #announcements, #trending {
        margin-bottom: unset;
    }

    #posts {
        margin: 20px;
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 20px;
    }

    #announcements, #trending {
        margin: 20px 20px 20px 0;
    }
}

@media screen and (min-width: 1200px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
        margin-left: 200px;
    }

    #buttons {
        display: block;
    }
    
    #buttons button {
        width: clamp(120px, 15%, 180px);
        margin-right: 10px;
    }

    #buttons:last-child {
        margin-right: 0;
    }

    #content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #navbar {
        display: block;
        position: fixed;
        z-index: 1;
        width: 160px;
        height: 100%;
        min-height: 100vh;
    }
}